body{
    background-color: #E1E6C6;
    color: #49562A;
}

.big-container{
    width: 80%;
    margin: 0 auto;
    font-family: 'Concert One', cursive;
}

.main-block{
    display: flex;
    flex-wrap: wrap;
}

.first-block, .second-block, .third-block, .fourty-block{
    flex-basis: 50%;
}

.first-block{
    order: 2;
}

.second-block{
    order: 3;
}

.third-block{
    order: 1;
}


.fourty-block{
    order: 4;
}

.container{
    margin-bottom: 10px;
    margin-right: 10px; 
    background-color: #AFC073;
    border-radius: 10px;
    padding: 10px;
}


.about{
    text-align: justify;
}

h2{
    text-transform: uppercase;
    margin-top: 0;
}

img{
    border-radius: 10px;
}

