body{
    background-color: #B23AD4	;
    color: #E5FB00	;
}

.big-container{
    width: 80%;
    margin: 0 auto;
    font-family: 'Comfortaa', cursive;
}

.main-block{
    display: flex;
    flex-wrap: wrap;
}

.first-block, .second-block, .third-block, .fourty-block{
    flex-basis: 50%;
    flex-grow: 3;
}

.first-block{
    order: 2;
}

.second-block{
    order: 3;
}

.third-block{
    display: flex;
    flex-direction: column;
    order: 1;
    align-items: center;
    justify-content: center;
}


.fourty-block{
    order: 4;
}

.container{
    margin-bottom: 10px; 
    background-color: #BB63D4;
    border-radius: 10px;
    padding: 10px;
}


.about{
    text-align: justify;
}

h2{
    text-transform: uppercase;
    margin-top: 0;
    padding: 3px;
    border-radius: 10px;
}

img{
    border-radius: 100px;
    height: 50%;
    width: 50%;
}

